.articulo{
    display: grid;
    grid-template-columns: repeat(4, 350px);
    justify-content: center;
    align-content: center;
    padding-left: 40px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card {

    padding: 16px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 250px;
    text-align: left;
    background-color: #ffffff;
    color: #0F2D4E;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.card h4 {
    font-size: 20px;
    color: #0F2D4E;
    margin: 10px 0;
}

.boton-detalles{
    width: 100%;
    background-color: #0F2D4E;
}