#root {
  width: 100%; 
  height: 100vh; 
  margin: 0; 
  box-sizing: border-box;
}

main {
  margin-top: 150px; 
}


.linea-navbar{
  display: block;
  width: 100%;
  position: fixed;
  top: 100px;
  left: 0;
  background-color: #0F2D4E;
}