#root {
  width: 100%; /* Ocupar todo el ancho de la pantalla */
  height: 100vh; /* Ocupar toda la altura de la pantalla */
  margin: 0; /* Elimina márgenes */
  box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
}


h1{
  color: #1B1A55;
}

